@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@white:       #F5F7F8;
@yellow:      #F4CE14;
@lightyellow: #F5E8A6;
@text-yellow: #CDAD11;
@green:       #658147;
@blue:        #495E57;
@text-blue:   #3D4F49;
@lightblue:   #B7C0BE;
@thinblue:    #D3D8D8;
@grey:        #A0A0A0;
@darkgrey:    #45474B;
@black:       #1E1F21;

@thin: 200;
@light: 300;
@regular: normal;
@medium: 500;
@semibold: 600;
@bold: bold;

@h0: 4em;
@h1: 3em;
@h2: 2em;
@h3: 1.5em;
@h4: 1.25em;
@txt: 1em;
@detail: 0.75em;

@radius: 1rem;
@radius-mid: 0.75rem;

body {
    font-size: 16px; /* serves as ref for em & rem */
    background-color: @black;
    display: flex;
    justify-content: center;
}

#app {
    font-family: 'Lexend', sans-serif;

    background-color: @white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 600px; /* phone max width tho */
    height: 100vh;

    margin: -0.5rem;
    overflow: hidden;
}

// Shared classes
.v-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    gap: 6rem;
}
.v-t-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.yellow-btn-big {
    background-color: @lightyellow;
    color: @text-yellow;
    padding: 1rem 1.5rem;
    border-radius: @radius;
    border: solid 0.125em @text-yellow;
    font-size: 2em;
    font-weight: 600;
}

.yellow-btn-mid {
    background-color: @lightyellow;
    color: @text-yellow;
    padding: 0.5rem 1rem;
    border-radius: @radius-mid;
    border: solid 0.125em @text-yellow;
    font-size: 1.75em;
    font-weight: @semibold;

    &:active {
        background-color: @yellow;
        color: @lightyellow;
        border-color: @lightyellow;
    }
}

.blue-btn-mid {
    background-color: @lightblue;
    color: @text-blue;
    padding: 0.5rem 1rem;
    border-radius: @radius-mid;
    border: solid 0.125em @text-blue;
    font-size: 1.75em;
    font-weight: @semibold;

    &:active {
        background-color: @blue;
        color: @lightblue;
        border-color: @lightblue;
    }
}

.yellow-btn-small {
    background-color: @lightyellow;
    color: @text-yellow;
    padding: 0.5rem 1rem;
    border-radius: @radius-mid;
    border: solid 0.125em @text-yellow;
    font-size: 1.5em;
    font-weight: @medium;

    &:active {
        background-color: @yellow;
        color: @lightyellow;
        border-color: @lightyellow;
    }
}

.blue-btn-small {
    background-color: @lightblue;
    color: @text-blue;
    padding: 0.5rem 1rem;
    border-radius: @radius-mid;
    border: solid 0.125em @text-blue;
    font-size: 1.5em;
    font-weight: @medium;

    &:active {
        background-color: @blue;
        color: @lightblue;
        border-color: @lightblue;
    }
}

.logo-btn {
    position: absolute;
    top: 8px;
    left: 4px;
    border: none;
    background: none;
    font-size: @txt;
    font-weight: @semibold;
    color: @black;
    text-shadow: -1px -1px @yellow;
    opacity: 0.75;
    z-index: 5;
}