@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#app {
    font-family: 'Lexend', sans-serif;

    background-image: url('@/assets/images/background-image.png');
    background-size: cover; /* Optional: Ensures the image covers the entire background */
    background-position: center; /* Optional: Centers the image */
    background-repeat: no-repeat; /* Optional: Prevents tiling */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: -0.5rem;
    overflow: hidden;
}

// Shared classes
.v-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    gap: 8rem;
}